<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{.Name}}</title>
</head>
<body>
  
  <img src="{{.Image}}" alt={{.Name}}>
  <p><b>{{.Name}}</b></p>
  <p><b>Group Members: <br></b>{{range .Members}} {{.}} <br> {{end}} </p>
  <p><b>Creation Date: </b>{{.CreationDate}}</p>
  <p><b>First Album Released: </b>{{.FirstAlbum}}</p>
  
  <b>Concerts:</b>
  {{range $k, $v := .DatesLocations}}
  <p>{{$k}} <ul style="list-style-type:none;">{{range $v}} <li>{{.}} {{end}}</li></ul></p>
  {{end}}

  <a href="/">Back</a>
</body>
</html>